---
layout: default
title: Blog Page 
seo:
  title: Lastest Blog Posts | midoandtolo
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded padded-b-0">

    <div class="capped-width grid-center">

    <div class="col-9 padded-05 center margin-b-1">
        <h2> Latest Posts </h2>
        <p>Catch up on our latest travels! Whether you're passionate about overlanding through rugged landscapes, diving into the depths of the ocean, or simply exploring the beauty of everyday life, our latest posts are here to inspire and guide you. Have you ever wondered what it’s like to wild camp along the coast of Saudi, or discover hidden underwater worlds? Join us as we share stories, tips, and breathtaking photos from our travels around the globe. Dive in and explore — there's a whole world waiting for you!</p>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>

<!------------------------ Locations Cards ------------------------>

{% include location-cards.html %}

<!------------------------ CTA Banner  ------------------------>
<!-- <section class="bg-featured text-v-light padded center capped-width"> 

    <div class="capped-width-narrow">
        <h2> A catchy heading </h2>
        <p> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button"> Let's do this </a>
    </div>

</section>  -->


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded">

    <div class="capped-width grid-center">

        {% for post in site.posts limit:12 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded">
            <a class="button" href="/blog-archive"> See More </a>
        </div>
       
    {% endif %}

</section>

