---
layout: default
title: Homepage
seo:
  title: Mido and Tolo
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Image Banner  ------------------------>
<section class="bg-image raptor-zouz-beach-img padded grid bg-overlay tall-80">

    <div class="col-12 center text-v-light">
        <h2> Welcome to your new favourite blog </h2>
        <p class="emphasis"> A love story in real life, one adventure at a time </p>
    </div>

</section>

<section class="padded">

    <div class="capped-width grid-center">

        <div class="col-12 padded-05 center text-lg emphasis subtle capped-width-narrow margin-b-1">
            <p class="emphasis subtle">We hope this digital diary can help the curious find adventure in more remote locations and realize that travel can be more accessible than you otherwise thought possible. Think of the blog section as extended advice from that travel friend, making sure you see the best of the places we’ve been to.</p>
        </div>

    </div>

</section>

<!------------------------ Featured blog loop reegular devices ------------------------>
<section class="padded hide-xs">

    <div class="capped-width grid-center">  

        <div class="grid-center">
            {% assign featured_posts = site.posts | where: 'featured', true %}

            {% for post in featured_posts limit:3 %}

                <div class="col-4 post-item padded-05">
                    <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
                    <div class="padded-t-1">
                        
                        {% for item in post.categories %}
                            <span class="tag"> {{item}} </span>
                        {% endfor %}

                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                        <p> {{ post.description }} </p>
                        <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

</section>


<!------------------------ Featured blog loop sm devices ------------------------>
<section class="padded show-xs">

    <div class="capped-width grid-center">     

        <div class="show-xs">

            {% assign featured_posts = site.posts | where: 'featured', true %}

            {% for post in featured_posts limit:3 %}

                <div class="col-12 post-item padded">
                    <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
                    <div class="padded-t-1">
                        
                        {% for item in post.categories %}
                            <span class="tag"> {{item}} </span>
                        {% endfor %}

                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                        <p> {{ post.description }} </p>
                        <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

</section>

<!------------------------ Locations Cards ------------------------>

{% include location-cards.html %}

<!------------------------ Slick Slider ------------------------>

{% include slick-slider-home.html %}


