---
layout: default
title: Homepage | midoandtolo
seo:
  title: Homepage | midoandtolo
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
<!------------------------ Image Banner  ------------------------>
<section class="bg-image raptor-zouz-beach-img padded grid bg-overlay tall-80 tall-50-sm">

    <div class="col-12 center text-v-light">
        <h2> Welcome to your new favorite blog </h2>
        <p class="emphasis hide-xs"> A love story in real life, one adventure at a time </p>
    </div>

</section>

<section class="padded padded-b-0">

    <div class="capped-width grid-center">

        <div class="col-12 padded-05 center text-lg emphasis subtle capped-width-narrow margin-b-1">
            <p class="emphasis subtle">Helping the curious find adventure, we're getting you off the beaten path, into the hole-in-the-wall restaurants and finding spots you'll never forget. Meet your newest travel friends, Mido and Tolo, here to give extended advice and making sure you see the best of the places we’ve been to. We're also here to remind you every day can be and adventure, if you look through the right lens. </p>
        </div>

    </div>

</section>

<!------------------------ Featured blog loop regular devices ------------------------>
<section class="padded hide-xs">

    <div class="capped-width grid-center">  

        <div class="grid-center">
            {% assign featured_posts = site.posts | where: 'featured', true %}

            {% for post in featured_posts limit:3 %}

                <div class="col-4 post-item padded-05">
                    <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
                    <div class="padded-t-1">
                        
                        {% for item in post.categories %}
                            <span class="tag"> {{item}} </span>
                        {% endfor %}

                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                        <p> {{ post.description }} </p>
                        <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

</section>


<!------------------------ Featured blog loop sm devices ------------------------>
<section class="padded show-xs">

    <div class="capped-width grid-center">     

        <div class="show-xs">

            {% assign featured_posts = site.posts | where: 'featured', true %}

            {% for post in featured_posts limit:3 %}

                <div class="col-12 post-item padded">
                    <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
                    <div class="padded-t-1">
                        
                        {% for item in post.categories %}
                            <span class="tag"> {{item}} </span>
                        {% endfor %}

                        <h2 class="margin-t-1"> {{ post.title }} </h2>
                        <p> {{ post.description }} </p>
                        <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

</section>

<!------------------------ Camping checklist form ------------------------>

<div class="ml-embedded padded" data-form="bxYIEG"></div>

<!------------------------ Locations Cards ------------------------>

{% include location-cards.html %}

<!------------------------ Slick Slider ------------------------>

{% include slick-slider-home.html %}


