<section class="padded">

    <div class="capped-width grid-center">

        <div class="col-9 padded-05 center margin-b-1">

            <h2> {{ page.title }}</h2>
            {{ page.description_html }}

        </div>
  
            {%  assign relevant-destinations = site.destination | where_exp:"destination", "destination.categories contains page.category" %}

            {% for destination in relevant-destinations %}
            
                {% include destination-post-loop-item-square.html %}

            {% endfor %}

    </div>

</section>