  <!----------------------- Follow us on social ------------------------->
  <div>
    <h3 class="center padded padded-b-0 margin-b-0">Follow us on social</h3>
    <nav class="grid-spaceBetween padded center">
        <div class="col-4 relative padded-05">
            <a href="https://instagram.com/midoandtolo/" rel="nofollow" target="_blank" title="Follow us on Instagram"><img src="/images/Mido-square.jpg"><i class="fa-brands fa-instagram overlay-icon"></i></a>
        </div>

        <div class="col-4 relative padded-05">
            <a href="https://www.tiktok.com/@midoandtolo" rel="nofollow" target="_blank" title="Follow us on TikTok"><img src="/images/midoandtolo-zouz-square.jpeg"><i class="fa-brands fa-tiktok overlay-icon"></i></a>
        </div>

        <div class="col-4 relative padded-05">
            <a href="https://www.facebook.com/people/Midoandtolo/61560200198887/?mibextid=LQQJ4d" rel="nofollow" target="_blank" title="Follow us on Facebook"><img src="/images/dubai-sunglasses-square.jpg"><i class="fab fa-facebook-f overlay-icon"></i></a>
        </div>
    </nav>
</div>