<div class="grid-spaceBetween location-card-container tall-40 padded margin-b-1 horizontal-scroll">
    <div class="col-4_xs-11 padded-05">
         <a href="/saudi-arabia"><div class="bg-image location-card padded-tb-5 the-house-img"><h3 class="tolo-text text-lg center">Saudi</h3></div></a>
    </div>

    <div class="col-4_xs-11 padded-05">
        <a href="/egypt"><div class="bg-image location-card padded-tb-5 tolo-mango-face-img"><h3 class="tolo-text text-lg center">Egypt</h3></div></a>
    </div>

    <div class="col-4_xs-11 padded-05">
        <a href="/uae"><div class="bg-image location-card padded-tb-5 tolo-mido-driving-img"><h3 class="tolo-text text-lg center">UAE</h3></div></a>
    </div>

</div>