
<header class="grid-middle">
    <div class="grid-middle col-12">
        <div class="col-3"></div>
        <div class="col-6">
          <a href="/index.html"> <img class="margin-b-2" src="/images/mido-tolo-color-logo-b.png"> </a>
        </div>
        <div class="col-3"></div>
    </div>
    <nav class="col-12 padded-1 hide-sm center">

      <a href="/blog" class="uppercase"> Blog </a>

      <a href="/blog-archive" class="uppercase"> Archive </a>

      <div class="dropdown">
        <span class="dropdown-title uppercase"> Destinations </span>
        <div class="dropdown-content">
          {% for cat in site.destinations %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
          <!-- <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->

        </div> 
      </div>

      <div class="dropdown">
        <span class="dropdown-title uppercase"> Catgeories </span>
        <div class="dropdown-content">
          {% for cat in site.archives %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
          <!-- <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->

        </div> 
      </div>

      <div class="dropdown">
        <span class="dropdown-title"> <a href="/about.html" class="uppercase"> About </a></span>
        <div class="dropdown-content">
          <a href="/about-us.html"> About Us </a>
          <a href="/posts/2021/origin-story"> Origin Story </a>
          <a href="/posts/2021/meet-the-gang/"> Meet the Gang </a>
          <!-- <a href="#"> Work with Us </a> -->
        </div> 
      </div>

      <a href="#" class="uppercase"> Contact </a>
      
    </nav> 
    <div class="col-7 right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu hover-white"> 
    <nav> 
      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Archive </a>
      <a href="/about.html"> About </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 