
<header class="grid-middle">
    <div class="grid-middle col-12">
        <div class="col-3"></div>
        <div class="col-6">
          <a href="/index.html"> <img class="margin-b-2" src="/images/mido-tolo-color-logo-b.png" alt="logo"> </a>
        </div>
        <div class="col-3"></div>
    </div>
    <nav class="col-12 padded-1 hide-sm center">

      <a href="/blog" class="uppercase"> Latest Posts </a>

      <a href="/blog-archive" class="uppercase"> Archive </a>

      <div class="dropdown">
        <a href="/destination-archive.html"><span class="dropdown-title uppercase"> Destinations </span></a>
        <div class="dropdown-content">
          {% for cat in site.archives %}
          {% if cat.location == true %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endif %}
          {% endfor %}
          <!-- <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->

        </div> 
      </div>

      <div class="dropdown">
        <a href="/category-archive.html"><span class="dropdown-title uppercase"> Categories </span></a>
        <div class="dropdown-content">
          {% for cat in site.archives %}
            {% if cat.location != true %}
              <a href="{{cat.url}}"> {{cat.category}} </a>
            {% endif %}
          {% endfor %}
          <!-- <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->

        </div> 
      </div>

      <div class="dropdown">
        <span class="dropdown-title"> <a href="/about.html" class="uppercase"> About </a></span>
        <div class="dropdown-content">
          <a href="/about-us.html"> About Us </a>
          <a href="/posts/2021/origin-story"> Origin Story </a>
          <a href="/posts/2021/meet-the-gang"> Meet the Gang </a>
          <!-- <a href="#"> Work with Us </a> -->
        </div> 
      </div>

      <a href="/contact.html" class="uppercase"> Contact </a>
      
    </nav> 
    <div class="col-7 right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu hover-white"> 
    <nav> 
      <a href="/blog" class="uppercase"> Latest Posts </a>
      <a href="/destination-archive.html" class="uppercase"> Destinations </a>
      <a href="/category-archive.html" class="uppercase"> Categories </a>
      <a href="/blog-archive" class="uppercase"> Archive </a>
      <a href="/about.html" class="uppercase"> About </a>
      <a href="/contact.html" class="uppercase"> Contact </a>
      <a href="/work-with-us.html" class="uppercase"> Work with us </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 