<div class="slider-container tall-40 padded margin-t-1 margin-b-0">
    <div class="slider-item">
        <div class="bg-image sandy-zouz-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image mido-red-sea-sunset-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image bb-zouz-car-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image zouz-raptor-window-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image red-sea-sunset-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image mido-driving-rijal-almaa-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image zouz-rijal-almaa-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image the-house-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image terrace-view-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image tolo-mango-face-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image mido-basata-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image tolo-mango-basata-img square"></div>
    </div>
    <div class="slider-item">
        <div class="bg-image mido-boat-img square"></div>
    </div>
</div>