<div class="slider-container tall-40 padded margin-t-1 margin-b-0">
    <div class="slider-item location-card">
         <a href="/saudi-arabia"><div class="bg-image padded the-house-img square"><h3 class="tolo-text text-lg center">Saudi</h3></div></a>
    </div>

    <div class="slider-item location-card">
        <a href="/egypt"><div class="bg-image padded tolo-mango-face-img square"><h3 class="tolo-text text-lg center">Egypt</h3></div></a>
    </div>

    <div class="slider-item location-card">
        <a href="/uae"><div class="bg-image padded tolo-mido-driving-img square"><h3 class="tolo-text text-lg center">UAE</h3></div></a>
    </div>


</div>